<div class="bg">

    <div class=" container mydiv">
        <div class="text-center">
            <h2>Login</h2>
            <div class="col">
                <div class=" ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-4">
                        <strong><h3><label>UserName</label></h3></strong>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input type="text" pInputText placeholder="Username">         
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card-body ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-4">
                        <strong><h3><label>Password</label></h3></strong>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div class="ui-inputgroup width-100">
                            <input type="password" pPassword placeholder="Password"/>
                        </div>
                    </div>
                </div>
            </div>    
         </div>
    </div>

</div>
