<div class="bg">

    <div class=" container mydiv">
        <div class="text-center">
            <h2 style="color: blue;">Login</h2>
            <br>
            <div class="col-md-12 row">
                    <div class="col-md-4">
                        <strong><h5><label style="color: blue">UserName</label></h5></strong>
                    </div>
                    <div class="col-md-8">
                            <!-- <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span> -->
                            <input type="text" style="width: 100%;" pInputText placeholder="Username">  
                    </div>
            </div>
            <div class="col-md-12 row">
                    <div class="col-md-4">
                        <strong><h5><label style="color: blue">Password</label></h5></strong>
                    </div>
                        <div class="col-md-8">
                            <input type="password" style="width: 100%;" pPassword placeholder="Password"/>
                        </div>
            </div> 
            <br>
            <div class="col-md-12 row">
                <div class="col-md-5">
                    <button type="button" routerLink="/landing" routerLinkActive="active" style="width: 100%;" class="btn btn-success">Login</button>
                </div>
                <div class="col-md-7">
                    <button type="button" style="width: 100%;" class="btn btn-warning">Register Admin</button>
                </div>
            </div> 
         </div>
    </div>

</div>
