.mydiv {
    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    width:29em;
    height:15em;
    margin-top: 0em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border-radius: 5px;
    /* border: 2px solid black; */
    background-color: transparent;
}